
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* nav Bar Top */
.Top_Icons{
  background: linear-gradient(to right, #17d0cf 0%, #01a6fd 51%, #17d0cf 100%);
  
}
.Top_Icons li {
  list-style: none;
  font-size: 14px; 
  list-style: none; 
  font-weight: 500; 
  color: #fff;
  border-left: 1px solid #fff;
  padding: 10px 10px;

}

.Top_Icons a {
  color: #fff;
  text-decoration: none;
}

.Icon li:last-child{
  border-right: 1px solid #fff;
}

.Icon a {
  color: #24528C;
  padding: 8px;
  transition: .5s;
}
.Icon a:hover{
  color: #fff;
}


.dropbtn {
  color: black;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.dropdown button {
  color: #24528C;
  padding-right: 10px;
  font-size: 17px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #666;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


/* Top Nav End */

.Chairman{
margin-top: 70px;
}
.Chairman h2{
    font-size: 38px;
    color: #333;
    margin: 0 0 15px;
}
.skyBlue_line {
    background-color: #17D0CF;
    width: 50px;
    height: 2px;
    margin: 0 0 15px;
  } 
.Chairman h3 {
    font-size: 25px;
    color: #444;
    margin: 0 0 15px;
}
.Chairman p {
    font-size: 14px;
    color: #000000;
}
.image_text {
    position: relative;
    text-align: center;
    color: #000000;  }

/* .Chairman h2{
    margin-top: 15px;
} */
/* FOOTER */

footer {
    background: #141B23;
    margin-top: 60px;
  }
  
  .footer li{
    list-style: none;
    color: #777;
    color: #BFC0C1;
    padding-top: 10px;
    transition: .5s;
  
  }
  .footer li:hover{
    color: whitesmoke;
  }
  
  .footer a {
    text-decoration: none;
    font-size: 12px;
    color: #BFC0C1;
    transition: .5s;
  }
  .footer a:hover {
    color: whitesmoke;
  }
  .footer p {
    font-weight: bold;
    color: whitesmoke;
  }
  
  .footer_row_tow li{
    color: whitesmoke;
    list-style: none;
  
  }
  
  .footer_row_tow a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #BFC0C1;
    transition: .5s;
  }
  
  .footer_row_tow p {
    font-size: 11px;
    color: whitesmoke;
  }
  
  hr {
    color: #BFC0C1;
  }
  
  .footer_Icon .fa-brands{
    padding: 10px 11px;
    color: #fff;
    border-radius: 50%;
  }
.centered{
    
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 5px 10px!important;
    width: calc(100% - 30px);
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    color: rgba(255,255,255,.7);
    border-radius: 3px;
}


  @media (max-width:990px) {
    .image_text {
        margin-bottom: 10px;
  }
}

